@tailwind base;
@tailwind components;
@tailwind utilities;

/* *=========== Silver theme =========== */
@layer base {
  :root {
    /* Fondo y texto */
    --background: 0 0% 10%; /* negro oscuro */
    --foreground: 0 0% 85%; /* plateado claro */

    /* Fondo y texto de las tarjetas y popovers */
    --card: 0 0% 15%; /* negro ligeramente más claro */
    --card-foreground: 0 0% 85%; /* plateado */
    --popover: 0 0% 15%; /* igual que card */
    --popover-foreground: 0 0% 85%; /* igual que card-foreground */

    /* Colores primarios y secundarios */
    --primary: 0 0% 50%; /* plateado medio */
    --primary-foreground: 0 0% 85%; /* plateado claro */
    --secondary: 0 0% 20%; /* gris oscuro */
    --secondary-foreground: 0 0% 85%; /* plateado */

    /* Colores de apoyo */
    --muted: 0 0% 20%; /* gris oscuro */
    --muted-foreground: 0 0% 60%; /* gris medio */
    --accent: 0 0% 30%; /* gris más claro */
    --accent-foreground: 0 0% 85%; /* plateado claro */
    --destructive: 0 84.2% 60.2%; /* rojo para alertas */
    --destructive-foreground: 0 0% 98%; /* blanco para contraste */

    /* Bordes y elementos de input */
    --border: 0 0% 30%; /* gris neutro */
    --input: 0 0% 30%; /* gris neutro */
    --ring: 0 0% 50%; /* plateado medio */
  }

  .dark {
    --background: 0 0% 0%; /* negro absoluto */
    --foreground: 0 0% 85%; /* plateado claro */
    --card: 0 0% 10%; /* gris muy oscuro */
    --card-foreground: 0 0% 85%; /* plateado */
    --popover: 0 0% 10%; /* igual que card */
    --popover-foreground: 0 0% 85%; /* igual que card-foreground */
    --primary: 0 0% 60%; /* plateado claro */
    --primary-foreground: 0 0% 15%; /* gris oscuro para contraste */
    --secondary: 0 0% 15%; /* gris oscuro */
    --secondary-foreground: 0 0% 85%; /* plateado */
    --muted: 0 0% 15%; /* gris oscuro */
    --muted-foreground: 0 0% 60%; /* gris medio */
    --accent: 0 0% 20%; /* gris más claro */
    --accent-foreground: 0 0% 85%; /* plateado claro */
    --border: 0 0% 20%; /* gris oscuro */
    --input: 0 0% 20%; /* gris oscuro */
    --ring: 0 0% 60%; /* plateado claro */
  }
}

@layer base {
  
  header {
    @apply bg-transparent; /* Hace el fondo del header transparente */
    padding: 14px 24px; /* Espaciado opcional */
    opacity: 70%; /* Ajusta según necesites; 1 es completamente opaco, 0 es completamente transparente */
  }
  
  body {
    /* Establecer la imagen de fondo */
    @apply bg-cover bg-center; /* Para que la imagen cubra el fondo y esté centrada */
    @apply bg-background text-foreground;
    overflow-x: hidden; /* Ocultar el desplazamiento horizontal */
    background-size: cover; /* Asegúrate de que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evitar que se repita la imagen */
    height: 100vh; /* Asegura que el body tome toda la altura de la pantalla */
  }

  .dark body {
    background-image: url('/src/assets/background.jpg'); /* otra imagen para el modo oscuro */
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'CityBurn';
  src: url('/fonts/cityburn.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'CityBurn', sans-serif;
  font-weight: 300; /* Peso ligero */
}

a {
  font-family: 'CityBurn', sans-serif;
  font-size: 1.2em !important 
}


.font-cityBurn {
  font-family: 'CityBurn', sans-serif;
}

.portfolio-link {
  color: #C0C0C0;
  font-weight: bold; 
}

